rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow authenticated users to upload and read files in the images folder
    match /images/{imageId} {
      allow read, write: if request.auth != null;
    }
    
    // Allow authenticated users to upload and read seller verification files
    match /seller_verifications/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow authenticated users to upload and read profile images
    match /profile_images/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
} 